*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-color: gray; */
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    position: fixed;
    top: 0;
    color: khaki;
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    background-color: black;
}
header .drawer{
    height: inherit;
    width: 50px;
}
@keyframes onhover{
    from{background-color: black;}
    to{background-color: khaki}
}
header .drawer:hover{
    animation-name: onhover;
    animation-duration: 400ms;
    animation-iteration-count: 4;
}
header .logo{
    height: inherit;
    flex: 1;
}
header .more-button{
    /* background-color: aqua; */
    height: inherit;
    width: 50px;
}
header .more-button:hover{
    animation-name: onhover;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
}


main{
    flex: 1;

    position: absolute;
    width: 100%;
    top: 50px;
    min-height: 900px;
    display: flex;
    background-color: khaki;
}
main nav{
    flex: 7;
    display: flex;
    flex-direction: column;
    border: 0px;
    border-right: 2px;
    border-color: black;
    border-style: solid;
}
main nav h2{
    padding: 10px;
    line-height: 40px;
    height: 60px;
    text-align: center;
    color: black;

    /* border: 0px;
    border-bottom: 2px;
    border-color: black;
    border-style: solid; */
}
main nav div{
    text-indent: 1em;
    line-height: 40px;
    font-size: small;
    height: 40px;
    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
main nav div:hover{
    animation-name: onhover;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
}
main article{
    flex: 13;
    position: relative;
}

.more-list{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.more-list a{
    display: block;
    width: 100px;
    margin-left: -50px;
    height: 40px;
    line-height: 40px;
    text-align: center;

    background-color: black;
    color: khaki;
}
.more-list a:hover{
    animation-name: onhover;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
}
.info{
    font-size: x-large;
    min-height: 50px;
    margin: 20px;
    /* background-color: rgba(0, 0, 0, 0.3); */
}
.main{
    margin: 20px;
    text-align: center;
}
.main img{
    max-height: 300px;
    max-width: 300px;

    min-height: 100px;
    min-width: 100px;
}
.main .detail{
    padding: 20px;
}
.main a{
    display: block;
    padding: 20px;
}