---
export const prerender = true;

// import fs from 'node:fs';
// import path from 'node:path';
import {type FolderItem, getRootStrcuture, getRootUriStrcuture} from '@/components/base/fs'

export async function getStaticPaths() {
  let fditems: FolderItem[] = getRootUriStrcuture()
  fditems = fditems.filter(item => !item.isDir)
  const pages = fditems.map((item) => ({
    slug: item.urlPath.join('/') ,
    title: item.uriName,
    text: item.urlPath
  })) 
  // const pages = [
  //   {
  //     slug: "products/astro-handbook",
  //     title: "The ultimate Astro handbook",
  //     text: "If you want to learn Astro, you must read this book.",
  //   },
  // ];
  return pages.map(({ slug, title, text }) => {
    return {
      params: { slug },
      props: { title, text },
    };
  });
}

const { title, text } = Astro.props;
import Layout from '../layouts/Layout.astro';
import Sidebar from '@/components/base/sidebar';
import Home from '@/components/base/page';

---
<Layout title={title}>
  <div style="display: flex;">
    <Sidebar client:load items={getRootStrcuture()}></Sidebar>
    <Home slug={text}></Home>
  </div>
</Layout>