.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
}

.sidebar {
    width: 20%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.mainContent {
    width: 80%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.debugDir {
    color: red;
}