.button-container {
    font-family: consolas;
}

.button-container .button-link {
    position: relative;
    width: 150px;
    height: 50px;
    margin: 20px;
    @media screen and (max-width: 768px) {
        width: 100px;
    }

    .a {
        z-index: var(--button-z);
        
        position: absolute;
        display: flex;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.05);
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        color: white;
        transition: 0.5s;
        
        letter-spacing: 1px;
        text-decoration: none;
        overflow: hidden;
        backdrop-filter: blur(10px);
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: linear-gradient(to left, rgba(255, 255, 255, 0.1), transparent);
            transform: skewX(45deg) translateX(0);
            transition: 0.5s;
        }
    }

    &:hover {
        &::before,
        &::after {
            height: 50%;
            width: 80%;
            border-radius: 30px;
        }

        &::after {
            top: 1px;
        }

        &::before {
            bottom: 1px;
        }
        .a {
            letter-spacing: 3px;

            &::before {
                transform: skewX(45deg) translateX(200%);
            }
        }
    }

    &::before,
    &::after {
        z-index: calc(var(--button-z) - 1);

        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 10px;
        border-radius: 10px;
        transition: 0.4s;
        pointer-events: none;
        
        background-color: var(--btn-color);
        box-shadow: 0 0 5px var(--btn-color),
        0 0 15px var(--btn-color),
        0 0 30px var(--btn-color),
        0 0 60px var(--btn-color);
    }
    &::before {
        bottom: -5px;
    }
    &::after {
        top: -5px;
    }
}
