.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    cursor: default;
    margin: 40px 0;
    z-index: var(--card-z);
}

.card-container .card-box {
    position: relative;
    display: flex;
    width: 300px;
    height: 320px;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
    

    &::after,
    &::before {
        content: '';
        position: absolute;
        background: linear-gradient(315deg, var(--card-color-up), var(--card-color-down));
        top: 0;
        left: 50px;
        width: 50%;
        height: 100%;
        text-decoration: none;
        border-radius: 8px;
        transform: skewX(15deg);
        transition: 0.5s;
    }

    &::after {
        filter: blur(30px);
    }

    .card-content {
        position: relative;
        color: aliceblue;
        background-color: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        z-index: 5;
        transition: 0.5s;
        width: 100%;
        height: 50%;

        box-sizing: content-box;
        
        left: 0;
        padding: 20px 40px;

        h2 {
            font-size: 2em;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.1em;
            margin-bottom: 10px;
            line-height: 1.4em;
        }

        a {
            display: inline-block;
            text-decoration: none;
            color: black;
            background-color: white;
            padding: 10px 20px;
            border-radius: 5px;
            transition: 0.5s;

            &:hover {
                background-color: black;
                color: white;
                border-radius: 10px;
                box-shadow: 0 2px 15px black;
            }
        }
    }

    span {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 7;
        pointer-events: none;

        &::before,
        &::after {
            content: '';
            position: absolute;
            background: rgba(255, 255, 255, 0.2);
            opacity: 0;
            transition: 0.3s;
            backdrop-filter: blur(15px); 
            border-radius: 8px;
            box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2); 
            animation: animate 2s ease-in-out infinite;
        }
    }

    &:hover {

        &::before,
        &::after {
            transform: skewX(0deg);
            left: 20px;
            width: calc(100% - 90px);
        }

        & .card-content {
            left: -25px;
            padding: 50px 40px;
        }

        span::before,
        span::after {
            width: 100px;
            height: 100px;
            opacity: 1;
        }
        span::before {
            top: -50px;
            left: 50px;
        }
        span::after {
            bottom: -30px;
            right: 50px;
        }
    }
}


@keyframes animate {
    0%,
    100% {
        transform: translateY(10px);
    }
    50% {
        transform: translate(-10px);
    }
}