.sidebar-container {

}


.sidebar-container .sidebar-dirlike {
    position: relative;
    cursor: pointer;

    &:hover {
        background-color: purple;
    }
}


.sidebar-container .sidebar-filelike {
    position: relative;

    &:hover {
        background-color: var(--link-color);
        cursor: grab;
        color: white;
    }
}


.sidebar-container .sidebar-nested {
    padding-left: 1em;
}

.sidebar-container .sidebar-hover {
    position: absolute;
    color: chartreuse;
    background-color: brown;
    right: 0;
    z-index: 5;
}